<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Todo List Application Powered with Node</title>
</head>

<body>
  <h1>Todo List</h1>
  <form method="post" action="/item/add">
    <label for="title">Name of the Title: </label>
    <input type="text" name="title" />
    <br>  <label for="description">Brief Description: </label>
    <input type="text" name="description" />
    <input type="submit" value="Add" />
  </form>
  <h4>Lists :</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.title %> <br>  (<%= item.description %>)
      </li>
    <% }); %>
  </ul>
</body>
</html>
